{% extends "base.html" %}

{% block title %}Tech{% endblock %}

{% block content %}
<div class="row">
  <h1>The technologies used:</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python - 3.12
      </li>
      <li class="list-group-item">
        Django - 5.0.6
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>The project was created to improve Django skills</p>
  </article>
</div>
{% endblock %} 