{% extends 'base.html' %}

{% block title %}
  Post {{ post.text|slice:":30" }}
{% endblock %}

{% block content %}
<main>
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Date of publication: {{ post.pub_date|date:"d E Y" }}
        </li>
          {% if post.group %}
          <li class="list-group-item">
            Group: {{ post.group.title }}
            <a href="{% url 'posts:group_list' slug=post.group.slug %}">
          {% endif %}
            All group posts
            </a>
          </li>
          <li class="list-group-item">
            Author: {{ post.author.get_full_name }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
          Total posts: <span>{{ count_author_posts }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' post.author.username %}">
            All user posts
          </a>
        </li>
      </ul>
    </aside>
      <article class="col-12 col-md-9">
        <p>
          {{ post.text }}
        </p>
    </article>
  </div>
</main>
{% endblock %}