{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
  Profile user {{ user.username }}
{% endblock %}

{% block content %}
<main>
  <div class="container py-5">
    <div class="mb-5">
      <h1>All posts by user: {{ user.get_full_name }}</h1>
      <h3>Total posts: {{ count_author_posts }}</h3>
      <p>
        {% if following %}
        <a class="btn btn-lg btn-light" href="{% url 'posts:profile_unfollow' author.username %}" role="button">
          Unfollow
        </a>
        {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">
          Follow
        </a>
        {% endif %}
        </p>
      <article>
        {% for post in page_obj %}
        <ul>
            <li>
              Author: {{ post.author.get_full_name }}
            </li>
            <li>
              Publication date: {{ post.pub_date|date:"d E Y" }}
            </li>
        </ul>
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>
          {{ post.text }}
        </p>
          <a href="{% url 'posts:post_detail' pk=post.id %}">Detailed information</a>
        </article>
          {% if post.group %}
            <a href="{% url 'posts:group_list' slug=post.group.slug %}">All group posts</a>
          {% endif %}
            {% if not forloop.last %}
              <hr>
            {% endif %}
        {% endfor %}
          {% include 'includes/paginator.html' %}
    </div>
  </div>
</main>
{% endblock %}