{% extends "base.html" %}

{% block title %}
  Password reset was successful
{% endblock %}

{% block content %}
<main>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Password recovery complete
          </div>
          <div class="card-body">
            <p>Your password has been saved. Use it to log in</p>
            <a href="{% url 'users:login' %}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}